body {
  background-color: #b9f4b3;
}

section#coluna_esquerda {
  width:600px;height:auto;
}

#houssein {
  background-color: rgba(25, 255, 0, 0.2);
  width: auto;
  height: auto;
  border-radius: 20px;
  text-align: center;
}

#housseinicon {
  border-radius: 50px;
}
