body {
  background-color: #b9f4b3;
}

section#coluna_esquerda {
  width:600px;height:auto;
}

#houssein {
  background-color: rgb(133, 242, 121);
  width: 200px;
  height: auto;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#housseinicon {
  border-radius: 70px;
}

#joaopicon {
  background-color: rgb(133, 242, 121);
  width: 200px;
  height: auto;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#joaopicon {
  border-radius: 70px;
}
